<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="StockConn" connectionString="Data Source=LAPTOP-391RUUKR\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Stock_Management_Simple.Properties.Settings.StockConnectionString"
      connectionString="Data Source=LAPTOP-391RUUKR\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>